#wrapper1 { 
    display: grid;
    width: 100%;
    height: 140vh;
    grid-template-rows: 15vh 3fr 3fr ;
    grid-template-columns: 100vw;
    grid-template-areas: 

    "he"
    "ma"
    "ma" ;
}

#wrapper2 {display: grid;
width: 100%;
height: 150vh;
grid-template-rows:100px 15vh 1fr 1fr 1fr 1fr 50px ;
grid-template-columns:100vw ; 
grid-template-areas: 
"na"
"se"
"se"
"se"
"se"
"se"
"fo";
row-gap: 15px;
}

#wrapper3 {
   display: grid;
   width: 100vw;
   height: 320vh;
   grid-template-rows: 50px 50px 10vh 70vh 1fr 1fr 1fr 1fr 200px ;
   grid-template-columns:10vw 20vw 1fr 30vw 10vw ;
   gap: 15px;
   grid-template-areas:
   "as he he he as2"
   "as na na na as2"
   "as ma ma ma as2"
   "as se se ma2 ma2"
   "as se se ma2 ma2"
   "as se se se2 as3"
   "as se se se2 as3"
   "as se se se2 as3"
   "fo fo fo fo fo" ;
background-image: url(../img/paul-lichtblau-qVotvbsuM_c-unsplash.jpg);}

   body,ul{
    margin: 0;
}
body{background-color: rgb(231, 237, 235);
margin: 50px;}
@media screen and (min-width: 400px) {
    .wrapper {
        display:none;
    }
}


.menu{
    height: 100vh;
    width: 60vw;
    background: rgb(255, 255, 16);
    position: fixed;
    top: 0;
    left: -95vw;
    transition: left 0.4s;
    box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
    z-index: 10;
}

.menu-button{
    cursor: pointer;    
    display: inline;
}

.menu-button i.material-icons{
    font-size: 2.5rem;
}

.show{
    left: 0;
}

.fade-layer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 5;
}

.fade-layer.visible{
    display: block;
}

header {
display: grid;
grid-area: he;
    background-color:#ea3001;
}

nav{
    display: grid;
grid-area: na;
    background-color:#bb0682;
    align-content: center;

}
nav a { display: flex;
   flex-wrap: wrap;
   align-content: center;
justify-content: space-around;}


main{
    display: grid;
    grid-area: ma;
    background-color: rgb(8, 185, 185);
}
main h2 {
   display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

}

section{
grid-area: se;
    background-color:#794ee7;
align-content: flex-start;
padding: 30px;
 display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#se2 { 
    display:  grid;
    grid-area: se2;
    background-color: lightslategray;

}
p{color: whitesmoke;}
section img{
   
    
    height: 30vh;
    width: 20vw;
    
    
    margin: 10px;
    border-radius: 30px;
   
}
footer{
    display: grid;
grid-area: fo;
   background-color: #01ea5e;;}
  
   aside {
    display: grid;
    grid-area: as;
   }

aside#as3 {
    display: grid;
    grid-area: as3;
   
    background-image: url(../img/paul-lichtblau-qVotvbsuM_c-unsplash.jpg);
}


#as2 {
    display: grid;
    grid-area: as2;
    background-color: +rgb(18, 39, 229);
}


#ma2 {
    display: grid;
    grid-area: ma2;
    background-color: rgb(102, 7, 19);
     background-image: url(../img/paul-lichtblau-qVotvbsuM_c-unsplash.jpg);
    background-size: cover;
    background-position: center;
}
